/***** General ******/
/******** Banner Image ********/
.banner-container {
    border: 1px transparent;
    width: 100% !important;
    height: auto !important; 
}


.banner {
    width: 100% !important;
    height: 100% !important;
}

.blue-icon {
    height: 3px;
    width: 35px;
  }
/***** End(General) ****/


/****  Navbar ******/


/******* Navbar - Page Title ******/
.navbar-brand {
    color: #0072d3 !important;
    font-weight: bold;
    }
    
    /********* Navbar - Background color ********/
    @media only screen and (max-width:767px) {
        .bg-light {
            background-color: white !important;
          }


    }
    /*******  Navbar - Link ***********/
    .navbar-nav .nav-link {
    text-transform: uppercase;
    }
    .navbar-nav .nav-link:hover {
    text-transform: capitalize;
    color: #f28500 !important;
    }

/******* Page Title - Tablet *********/

@media only screen and (min-width:768px) {
	.navbar-brand {
		color: white !important;
		margin-left: 10%;
    }
    /***** List - Margin - Tablet *********/
    .navbar-nav {
        margin-right: 13%;
        }
/******** Search Icon - Margin - Tablet *******/
        .fa-search {
            position: relative;
            right: 9%;
            }
/********* Navbar - Background color ********/
            .bg-light {
                background-color: #0072d3 !important;
                    width: 100%;
                    height: auto;
            }
}





.aboutus-headline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
    
      #aboutus-headline {
          margin-bottom: 30px;
      }


@media only screen and (min-width: 992px) {
    .aboutus {
        margin-left: 15%;
        margin-right: 15%;
     }

     .para1 {
        margin-bottom: 20px;
    }

    .mot-container {
        margin-left: 15%;
        margin-right: 15%;
    }
     
}

@media only screen and (min-width: 767px) {
    .data-all {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 991px) {
    .para {
        margin-bottom: 15px;
    }
}

#aboutus-data-website-link {
    color:  #f28500;
}

/*********** End (about us) ******/
.staff-container {
    text-align: center;
}

/****** Start (Footer) ****/
/****** Apply for all width *****/
/**** define bckgr color and text color ***/
.footer-background {
	background-color: #1b1919;
	color: white;
}
/***** upper footer container *****/
.footer-copyright-container {
	margin-top: 1px;
}
 /****** Copyright text ******/
	#page-copyright {
		text-align: center;
		margin-top: 10px;
	}
/******* define for list in lang and bookmarks ******/
	.footer-list{
		list-style: none;
	}
/***** List heading *****/
	.footer-list-heading {
		position: relative;
		right: 20px;
	}
/****** define the list style type (custom) *****/
	.footer-list li::before {
		content: "";
		border-color: 	transparent #D3D3D3;
		border-style: solid;
		border-width: 5.6px 0px 5.6px 7.2px;
		display: block;
		height: 0;
		width: 0;
		position: relative;
		left: -16px;
		top: 18.4px;
	}
/**** Color of bookmarks (a tag) ****/
	.footer-list li a {
		color:	#D3D3D3;
	}
/*** Top and bottom of footer ****/
	.footer-top {
		width: 100%;
		height: 60px;
	}

	.footer-bottom {
		width: 100%;
		height: 20px;
	}
/****** 4th col in footer (only input form) ******/
	.footer-get-news-form-container {
		display: flex;
		flex-direction: row;
	}
 /******* Define the input and button *******/
	#footer-get-news-input {
		padding: 0px 0px 7px 0px;
		background-color: #1b1919;
		border-top: none;
		border-left: none;
		border-right: none;
		width: 100%;
		color: white;	
	}

	/****** End (Footer) ****/
